BETTER_AUTH_SECRET=you-32-character-secret-key
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
PORT=8000

DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/identitree?schema=public"
